{{define "admin-header"}}
    <header class="header">
        <nav class="header__nav header-nav">
            <h2 class="header-nav__title">
                <a href="/panel">Админстрирование CRM(?)</a>
            </h2>

            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <a href="http://172.20.10.7:8181/main/table">К таблице</a>
                </li>
                <li class="header-nav__item">Выйти</li>
            </ul>
        </nav>
    </header>
{{end}}