<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="../../static/css/base/main.css">
    <link rel="stylesheet" href="../../static/css/{{.CSS}}.css">
</head>
<body>
{{template "admin-header" .}}

<main class="admin-main">
    <div class="container">
        {{template "admin-nav" .}}

        <form class="edit-user__form user-form" method="post">
            <h3 class="user-form__title">Изменение пользователя {{.User.Name}}</h3>
            <input class="hidden__input" type="text" id="id" name="id" value="{{.User.ID}}">

            <div class="user-form__block">
                <label class="user-form__label" for="name">Имя</label>
                <input id="name" class="user-form__input user-form__name" name="name" type="text"
                       value="{{.User.Name}}">
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="login">Логин</label>
                <input id="login" class="user-form__input user-form__login" name="login" type="text"
                       value="{{.User.Login}}">
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="nickname">Никнейм</label>
                <input id="nickname" class="user-form__input user-form__name" name="nickname" type="text"
                       value="{{.User.Nickname}}">
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="disable">Скрыть</label>
                <input id="disable" class=""{{if .User.Disable}} checked {{end}} name="disable" type="checkbox">
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="group">Группа</label>
                <select class="user-form__input user-form__group" name="group_id" id="group">
                    <option value="{{.User.GroupID}}">{{.User.Group}}</option>
                </select>
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="plot">Участки</label>
                <select class="user-form__input user-form__plot" name="plot_id" id="plot">
                    <option value="{{.User.PlotID}}">{{.User.Plot}}</option>
                </select>
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="password">Новый пароль</label>
                <input id="password" class="user-form__input user-form__name" name="password" type="password">
            </div>

            <div class="user-form__block">
                <label class="user-form__label" for="password_repeat">Повторите новый пароль</label>
                <input id="password_repeat" class="user-form__input user-form__name" name="password_repeat"
                       type="password">
            </div>

            <div class="user-form__block">
                <button class="user-form__submit" type="submit">Изменить</button>
            </div>
        </form>

        {{.Users}}

    </div>
</main>

<script src="../../static/js/{{.JS}}.js"></script>
</body>
</html>